
@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
:root {
    --contenido-font-size: 20px;
    --title-color: #F1AA9B;
    --text-color: #F0C38E;
    --btn-background-color:var(--title-color);
  }

.contenedor-principal{
    min-height: 100vh;
    padding: 24px;
    color: var(--text-color);
    font-family: "Teachers", sans-serif; 
    background-color: #48426D;
    font-size: var(--contenido-font-size);
}
.title {  
 font-size: 32px;
 text-align: center;
 color: var(--title-color);
}
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
  }
label{
    font-size: var(--contenido-font-size);
    color: #F0C38E;
}
.collapse-title{
    display: flex;
    color: var(--title-color);
}
#selectRecibos{
    font-size: 20px;
    width: 100rem;
}
img{
    width: 30px;
    height: 30px;
    margin: 0 10px;
}
.input-factura{
    width: 130px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    margin: 5px 0;
    padding: 3px;
}
.btn{
    font-size: var(--contenido-font-size);
    margin-top: 10px;
    color: var(--btn-text-color);
}
.btn:hover {
    background-color: var(--btn-background-color);
    color: #48426D;
}
.collapse {
    
    background-color: #312C51;
}
.collapse-content{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.text-0 {
    grid-column: 1;
    grid-row: 1;
}
.text-1 {
    grid-column: 1;
    grid-row: 2;
}
.text-2 {
    grid-column: 1;
    grid-row: 3;
}
.p-valor-fact{
    padding: 3px;
    grid-column: 2;
    
}
.avatar{
    align-items: center;
    margin: 0 4px;
}